html,body {
    background-color: black;
    overflow: hidden;
}

.centered-background {

    color: #fff;;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
